<img alt="GPLv3"
     src="https://img.shields.io/badge/GPLv3-red?style=flat-square&logo=gplv3&logoColor=white&logoSize=auto&color=%23BD0000">

<img alt="GNU"
     src="https://img.shields.io/badge/GNU-red?style=flat-square&logo=gnu&logoColor=white&logoSize=auto&color=%23A42E2B">

<img alt="Linux"
     src="https://img.shields.io/badge/Linux-yellow?style=flat-square&logo=linux&logoColor=white&logoSize=auto&color=%23FCC624">

<img alt="NixOS"
     src="https://img.shields.io/badge/NixOS-blue?style=flat-square&logo=nixos&logoColor=white&logoSize=auto&color=%235277C3">

<img alt="Void Linux"
     src="https://img.shields.io/badge/Void%20Linux-green?style=flat-square&logo=voidlinux&logoColor=white&color=%23478061">

<img alt="Emacs"
     src="https://img.shields.io/badge/Emacs-violet?style=flat-square&logo=gnuemacs&logoColor=white&color=%237F5AB6">

<img alt="Vim"
     src="https://img.shields.io/badge/Vim-green?style=flat-square&logo=vim&logoColor=white&logoSize=auto&color=%23019733">

<img alt="Keil"
     src="https://img.shields.io/badge/Keil-grey?style=flat-square&logo=armkeil&logoColor=white&color=%23394049">

<img alt="MATLAB"
     src="https://img.shields.io/badge/MATLAB-orange?style=flat-square&logoColor=white&color=%23C57529">

<img alt="C"
     src="https://img.shields.io/badge/C-gray?style=flat-square&logo=c&logoColor=white&color=%23A8B9CC">

<img alt="C++"
     src="https://img.shields.io/badge/C%2B%2B-blue?style=flat-square&logo=cplusplus&logoColor=white&color=%2300599C">

<img alt="ARM Assembly"
     src="https://img.shields.io/badge/ARM%20Assembly-blue?style=flat-square&logo=arm&logoColor=white&color=%230091BD">

<img alt="Python"
     src="https://img.shields.io/badge/Python-blue?style=flat-square&logo=python&logoColor=white&color=%233776AB">

<img alt="Java"
     src="https://img.shields.io/badge/Java-orange?style=flat-square&logoColor=white&color=%23ed8b00">

<img alt="C#"
     src="https://img.shields.io/badge/C%23-purple?style=flat-square&logoColor=white&color=%239179E4">

<img alt="VB.NET"
     src="https://img.shields.io/badge/VB.NET-purple?style=flat-square&logo=dotnet&logoColor=white&color=%23512BD4">

<img alt="JavaScript"
     src="https://img.shields.io/badge/JavaScript-yellow?style=flat-square&logo=javascript&logoColor=white&color=%23F7DF1E">

<img alt="TypeScript"
     src="https://img.shields.io/badge/TypeScript-blue?style=flat-square&logo=typescript&logoColor=white&color=%233178C6">

<img alt="HTML"
     src="https://img.shields.io/badge/HTML5-red?style=flat-square&logo=html5&logoColor=white&color=%23E34F26">

<img alt="CSS"
     src="https://img.shields.io/badge/CSS-purple?style=flat-square&logo=css&logoColor=white&color=%23663399">

<img alt="React"
     src="https://img.shields.io/badge/React-blue?style=flat-square&logo=react&logoColor=white&color=%2361DAFB">

<img alt="Node.js"
     src="https://img.shields.io/badge/Node.js-green?style=flat-square&logo=nodedotjs&logoColor=white&color=%235FA04E">

<img alt="Flask"
     src="https://img.shields.io/badge/Flask-blue?style=flat-square&logo=flask&logoColor=white&color=%233BABC3">

<img alt="FastAPI"
     src="https://img.shields.io/badge/FastAPI-green?style=flat-square&logo=fastapi&logoColor=white&color=%23009688">

<img alt="MySQL"
     src="https://img.shields.io/badge/MySQL-blue?style=flat-square&logo=mysql&logoColor=white&color=%234479A1">

<img alt="SQLite"
     src="https://img.shields.io/badge/SQLite-blue?style=flat-square&logo=sqlite&logoColor=white&color=%23003B57">

<img alt="MongoDB"
     src="https://img.shields.io/badge/MongoDB-green?style=flat-square&logo=mongodb&logoColor=white&color=%2347A248">

<img alt="Docker"
     src="https://img.shields.io/badge/Docker-blue?style=flat-square&logo=docker&logoColor=white&logoSize=auto&color=%232496ED">

<img alt="AWS"
     src="https://img.shields.io/badge/AWS-orange?style=flat-square&logoColor=white&logoSize=auto&color=%23FF9900">

<img alt="PyTorch"
     src="https://img.shields.io/badge/Pytorch-red?style=flat-square&logo=pytorch&logoColor=white&logoSize=auto&color=%23EE4C2C">

<img alt="Git"
     src="https://img.shields.io/badge/Git-red?style=flat-square&logo=git&logoColor=white&logoSize=auto&color=%23F03C2E">

<img alt="GitHub"
     src="https://img.shields.io/badge/GitHub-black?style=flat-square&logo=github&color=%23181717">

<img alt="Autodesk Fusion"
     src="https://img.shields.io/badge/Fusion-black?style=flat-square&logo=autodesk&logoColor=white&color=%23000000">


