/* site-wide styling */

body {
    background-color: #010118;
    color: white;
    margin: 0;
    padding: 0 20px;
/*    overflow: hidden; */
    height: 100%;
    font-family: monospace;
}

#title {
    text-shadow: #f94735 0px 0px 8px;
}

.colorful {
    color: #f94735
}

a, a:visited, a:active {
    color: #f94735;
}

a:hover {
    color: inherit;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

h1 {
    font-size: 7em;
    padding: 0;
    margin: 0;
}

