/* general styling */
:root {
    --style-color: #a29f95;
    --style-background: #faefe8;
    --style-foreground: #211a17;
}

@media (prefers-color-scheme: dark) {
    :root {
	--style-background: #211a17;
	--style-foreground: #faefe8;
    }
}

html, body {
    color:  var(--style-foreground);
    background-color: var(--style-background);
    height: 95%;
    margin: 0;
    font-family: system-ui;
}

a, a:visited, a:active {
    color: var(--style-foreground);
}

a:hover {
    color: var(--style-color);
}

.tags {
    font-family: monospace;
    font-size: 12px;
}

.box img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

