/* general styling */
html, body {
    color:  white;
    background-color: black;
    height: 95%;
    margin: 0;
    font-family: system-ui;
}

a, a:visited, a:active {
    color: #7d83ff;
}

a:hover {
    color: inherit;
}

.tags {
    font-family: monospace;
    font-size: 12px;
}

.box img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

